body{
background: black;
color: red;
margin: 0px;
font-family: "Anton", sans-serif;
margin-bottom: 100px;
}
header{
border-bottom: 3px solid rgb(191, 133, 191);
padding: 20px;
color: white;
font-size: 35px;
}
.chamada{
background: rgb(74, 130, 242);
padding-bottom: 80px;
padding-top; 80px;
display: flex;
justify-content: center;
}
.chamada-texto{
margin-right: 5%;
}
h1{
    font-size: 35px;
}